@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './mixin.scss';

:root {
    --primary: #000000;
    --secondary: #f1f1f1;
    --orange: #f48244;
    --white: #ffffff;
    --crimson: "Crimson Pro", serif;
    --roboto: "Roboto", sans-serif;
}

*,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--roboto);
    font-size: 1.2rem;
    line-height: 150%;
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--crimson);
    font-weight: 700;

}


.header {
    padding: 14px 0;

    .brandlogo {
        width: 30%;

        @media (max-width:600px) {
            text-align: center;
            width: 50%;
        }

        @media(max-width:900px) {
            text-align: center;
        }

    }

    .navigations {
        width: 70%;

        ul {
            list-style: none;


            a {
                padding: 5px 20px;
                text-decoration: none;
                color: var(--primary);
                font-size: 20px;
                font-weight: 400;

                @media(max-width:600px) {
                    display: none;
                }

                @media(max-width:900px) {
                    display: none;
                }




            }
        }
    }

}




.btn-outline-secondary {
    color: var(--primary);
    background-color: var(--white) !important;
    border-color: var(--primary) !important;
    border-radius: 50px !important;

    @media(max-width:600px) {
        text-align: center;
    }


}


.banner-section {
    background-color: var(--secondary);
    width: 100%;
}

.content {

    @media(max-width:600px) {
        text-align: center;
    }

    h1 {
        font-size: 5rem;

        @media(max-width:900px) {
            font-size: 2rem;
        }

    }

    p {
        padding-top: 8px;
        font-size: 20px;

        @media(max-width:900px) {
            font-size: 15px;
        }
    }
}

.text1 {
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: #f1f1f1;
    font-size: 5rem;
    text-align: center;

    @media(max-width:900px) {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: #f1f1f1;
        font-size: 2rem;
        text-align: center;
    }
}

.btn-primary {

    color: var(--secondary);
    background-color: var(--orange) !important;
    border-color: #f48244 !important;
    border-radius: 60px !important;

}

.rightimage {
    img {
        width: 50%;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;

        @media(max-width:600px) {
            text-align: center;
            padding-top: 10px;
        }
    }

}

.wordings {
    h1 {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 4rem;

        @media(max-width:600px) {

            text-align: center;
        }

        @media(max-width:900px) {
            font-size: 2.5rem;

        }


    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;

        @media(max-width:600px) {
            text-align: center;
        }

        @media(max-width:900px) {
            font-size: 17px;
        }



    }
}


.globelogo {

    padding-left: 40px;

    @media(max-width:600px) {
        width: 50%;
    }

    @media(max-width:900px) {
        width: 80%;
        padding-left: 50px;
    }



}


.why-choose-us {
    h1 {
        font-size: 3.5rem;
        padding-top: 15px;
        padding-bottom: 30px;

        @media(max-width:400px) {
            text-align: center;
            padding-bottom: 15px;
        }

        @media(max-width:600px) {
            text-align: center;
            font-size: 2.5rem;
        }


    }
}

.list {
    background-color: var(--secondary);
    border-radius: 20px;

    @media(max-width:900px) {
        border-radius: 15px;
        padding: 3rem;

    }


    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;

        @media(max-width:900px) {
            font-size: 15px;

        }
    }
}



.testimonial {
    h1 {
        font-size: 4.5rem;
        padding-top: 25px;
        padding-bottom: 15px;

        @media(max-width:900px) {

            font-size: 2.5rem;

        }

        @media(max-width:400px) {
            text-align: center;
            font-size: 2rem;

        }

    }



    .mike {
        background-color: var(--secondary);
        border-radius: 15px;

        @media(max-width:400px) {
            text-align: center;
        }


    }




    .desc {
        min-height: 200px;


    }
}



.working-with {
    h1 {
        font-size: 4.5rem;
        padding-top: 30px;
        padding-bottom: 30px;


        @media(max-width:900px) {
            font-size: 2.5rem;

        }

        @media(max-width:600px) {
            text-align: center;
        }



    }

    .word-list {
        @media(max-width:600px) {
            padding-top: 10px;
        }



        h4 {
            font-size: 30px;

            @media(max-width:900px) {

                font-size: 25px;
            }

            @media(max-width:600px) {
                text-align: center;
            }

        }

        p {
            font-size: 20px;

            @media(max-width:900px) {
                font-size: 16px;

            }

            @media(max-width:600px) {
                text-align: center;
            }
        }


    }


}

.refer-friend {
    h1 {
        font-size: 4.5rem;
        padding-top: 25px;
        padding-bottom: 30px;

        @media(max-width:600px) {
            text-align: center;
            font-size: 2rem;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        @media(max-width:900px) {
            font-size: 2.5rem;

        }

    }

    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;

        @media(max-width:600px) {
            text-align: center;
        }

        @media(max-width:900px) {
            font-size: 16px;
        }


    }

    .right-image {

        @media(max-width:600px) {
            text-align: center;
        }


        .manwith {
            width: 50%;
            border-radius: 30px;
        }



    }


}

.footer {
    background-color: #000000;

    h5 {
        color: white;

        @media(max-width:900px) {
            font-size: 16px;
        }
    }
}